
<h1>This is your missing Dog's personal bio</h1>
<div class="dog-contain full-bio">
	<div class="second-contain">
		<div class="graphic">
			<a href="/#/dogs/{{dogId}}">Dog Image
			</a>
		</div>
		<div class="dog-info">
			DOG NAME: {{dogName}}<br>
			BREED: {{breed}}<br> 
			GENDER: {{gender}}<br> 
			LOST ON: {{date}}<br>
			CONTACT NAME: {{number}}<br>
			CONTACT NUMBER: {{contact}}<br>
		</div>
	</div>

	<div class="dog-description">
		Description: {{description}}<br><br><br><br>
		<a href="/#/dogs/{{dogId}}/delete">Delete Dog Profile</a>
	</div>
</div>