{{#each this}}
<div class="dog-contain">
	<div class="graphic">
		<a href="/#/dogs/{{dogId}}">Dog Image
		</a>
	</div>
	<div class="dog-info">
		DOG NAME: {{dogName}}<br>
		BREED: {{breed}}<br>
	    GENDER: {{gender}}<br>
	    LOST ON: {{date}}<br>
	    CONTACT NAME: {{number}}<br>
		CONTACT NUMBER: {{contact}}<br>
	</div>
	<div class="dog-description">
		Description: {{description}}<br>
	</div>

</div>
{{/each}}